[submodule "sugar-cli-cpp"]
	path = sugar-cli-cpp
	url = git@github.com:jstoledano/sugar-cli-cpp.git
[submodule "sugar-cli-java"]
	path = sugar-cli-java
	url = git@github.com:jstoledano/sugar-cli-java.git
[submodule "sugar-cli-python"]
	path = sugar-cli-python
	url = git@github.com:jstoledano/sugar-cli-python.git
[submodule "sugar-cli-csharp"]
	path = sugar-cli-csharp
	url = git@github.com:jstoledano/sugar-cli-csharp
